.modal-crop {
    display: none;
    position: fixed;
    z-index: 999999;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content-crop {
    background-color: #333;
    margin: auto;
    height: 95%;
    padding:10px;
    border: 1px solid #888;
    width: 95%;
}
.close-crop {
    color: #aaaaaa;
    float: right;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
}
.close-crop:hover,
.close-crop:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#myiFrame{
    width:100%;
    height:95%;
}

#submit-name,
#name-input,
#clear-cookies,
#reload-frame,
#profile-page {
    background-color: white;
}