.modal-crop {
    display: none;
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 1%;
    background-color: rgba(0,0,0,0.4);
}
.modal-content-crop {
    background-color: #333;
    margin: auto;
    height: 100%;
    padding:10px;
}
.close-crop {
    color: #aaaaaa;
    float: right;
    top:0px;
    font-size: 20px;
    font-weight: bold;
}
.close-crop:hover,
.close-crop:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#multi-iframe,
#profile-iframe{
    width:100%;
    height:95%;
    border:0px;
}

#multi-button,
#profile-button {
    padding: 10px;
    background-color: #3c3c3c;
    color:hsla(0,0%,100%,.5);
}